.button{
  border: 2px solid black;
  height: 50px;
  width: 50px;
  padding-top: 10px;
  display: inline-block;

}
#grid{
    border: 2px solid black;
    width:  120px;
    height: 125px;
}
.block
{
    
    display: inline-block;
    width: 1px;
    height: 1px;
}
.altered-block
{
    background-color: black;
}
